{{- $img := .Page.Resources.GetMatch (.Get "src") -}}
{{- $maxWidth := 1200 -}}
{{- if .Parent -}}
  {{- $maxWidth = 720 -}}
{{- end -}}
{{- if .Get "size" | eq "large" -}}
  {{- $maxWidth = 1200 -}}
{{- end -}}
<figure>
  <a href="{{ $img.Permalink }}" data-size="{{ $img.Width }}x{{ $img.Height }}">
  {{- if gt $img.Width $maxWidth -}}
    {{- $resize := $img.Resize (printf "%dx" $maxWidth) -}}
    <img src="{{ $resize.Permalink }}" {{- with .Get "alt"}}alt="{{ . | plainify }}"{{- end }}>
  {{- else -}}
    <img src="{{ $img.Permalink }}" {{- with .Get "alt"}}alt="{{ . | plainify }}"{{- end }}>
  {{- end -}}
  </a>
  {{- with .Get "alt" }}<figcaption>{{ . | markdownify }}</figcaption>{{- end }}
</figure>
