<figure>
    <a href="{{ .Destination | safeURL }}">
        {{- $src := .Destination -}}
        {{- $img := .Page.Resources.GetMatch .Destination -}}
        {{- with $img -}}
            {{- if gt .Width 1080 -}}
                {{- $img = .Resize "1080x" -}}
            {{- end -}}
            {{- $src = $img.Permalink -}}
        {{- end -}}
        <img src="{{ $src | safeURL }}" {{- with .Text | plainify }} alt="{{ . }}"{{ end -}} {{- with .Title }} title="{{ . }}"{{ end -}}>
    </a>
    {{- with .Text }}<figcaption>{{ . | safeHTML }}</figcaption>{{ end -}}
</figure>
