h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-weight: $font-weight-normal;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  margin-left: $spacer * -1.35;
  margin-right: $spacer * -1.35;
  padding: $spacer ($spacer * 1.35);
  background: $blockquote-bg;
  border-left: 7px solid darken($blockquote-bg, 5%);
  border-radius: 3px;

  @include screen-md {
    margin-left: 0;
    margin-right: 0;
    padding: $spacer;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

code {
  font-size: $code-font-size;
  color: inherit;
  word-break: break-word;

  a > & {
    color: inherit;
  }
}

a,
blockquote,
p,
li {
  code {
    background: $inline-code-bg;
    padding: .2em .4em;
    border-radius: 3px;
  }
}

pre {
  display: block;
  font-size: $code-font-size;
  margin-left: $spacer * -1.35;
  margin-right: $spacer * -1.35;
  padding: $spacer (1.35 * $spacer);
  color: $pre-color;
  background: $pre-bg;
  border-radius: 10px;

  @include screen-md {
    border-radius: 3px;
    margin-left: 0;
    margin-right: 0;
    padding: $spacer;
  }

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

ul, ol {
  padding-left: 2rem;

  @include screen-sm {
    padding-left: 1.5rem;
  }
}

ul li p {
  margin-bottom: 0;
}

figcaption {
  color: $brown;
  font-size: 90%;
  font-style: italic;
  text-align: center;
  margin-top: $spacer / 2;
}
