<!DOCTYPE html>
<html lang='{{ .Params.LanguageCode | default $.Site.LanguageCode | default "en" }}'>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | truncate 200 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{- $normalize := resources.Get "normalize.css" -}}
    {{- $main := resources.Get "main.css" -}}
    {{- $styles := slice $normalize $main | resources.Concat "styles.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    <link rel=icon href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🍣</text></svg>'>
    {{- block "head" . }}{{ end -}}
</head>
<body>
<header class="header">
    <img class="logo" src="/img/starwars.gif" alt="Obi-Wan vs Darth Vader">
    <nav>
        <a href="/">Home</a> /
        <a href="/code/">Code</a> /
        <a href="/blog/">Blog</a> /
        <a href="/about/">About</a>
    </nav>
</header>
<img src="/img/border-rainbow.gif" alt="Animated Rainbow Border">
<main class="main">{{ block "main" . }}{{ end }}</main>
<footer class="footer">
    <span>&copy; Risan Bagja {{ now.Year }}</span>
    <nav>
        <a href="https://github.com/risan">Github</a>
        <a href="https://twitter.com/risanbagja">Twitter</a>
        <a href="/index.xml">RSS</a>
    </nav>
</footer>
{{- block "scripts" . }}{{ end -}}
</body>
</html>