{{- define "title" }}{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}{{ end -}}
{{- define "main" -}}
<section>
    {{- .Content -}}
</section>

<section>
    <h2>Recent Posts from Code:</h2>
    <ul class="basic-list">
        {{- range first 7 (where .Site.RegularPages "Section" "code") -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
</section>

<section>
    <h2>Recent Posts from Blog:</h2>
    <ul class="basic-list">
        {{- range first 7 (where .Site.RegularPages "Section" "blog") -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
</section>
{{- end -}}