{{- define "title" }}{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}{{ end -}}
{{- define "main" -}}
<section>
    {{- .Content -}}
</section>

<section>
    <h2>Featured Posts from Code:</h2>
    <ul class="list-basic">
        {{- range where (where .Site.RegularPages "Section" "code") "Params.featured" true -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
</section>

<section>
    <h2>Featured Posts from Blog:</h2>
    <ul class="list-basic">
        {{- range where (where .Site.RegularPages "Section" "blog") "Params.featured" true -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
</section>
{{- end -}}