/* base */
html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  html {
    font-size: 17px;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

a,
a:link,
a:visited {
  color: #303f9f;
  text-decoration: none;
}

a:active,
a:hover {
  color: #7b1fa2;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #303f9f;
  border: none;
  padding: .35rem .85rem;
  font-size: 1rem;
  border-radius: 5px;
}

.button:hover {
  background-color: #7b1fa2;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-container {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/* header */
.header {
  background: #151515;
}

.header-container {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.header-title {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .25rem;
}

.header-title:link,
.header-title:hover,
.header-title:visited {
  color: #fff176;
  text-decoration: none;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header-nav ul li:not(:last-child) {
  margin-right: .75rem;
}

.header-nav a {
  color: #f8bbd0;
  text-decoration: none;
}

.header-nav a:hover {
  color: #fff176;
}

/* footer */
.footer {
  background: #edf1f3;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav ul li:not(:last-child) {
  margin-right: .75rem;
}

/* syntax highlighting */
.highlight {
  font-size: .95rem;
  line-height: 1.5;
  margin-bottom: 1.4em;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  background: #f8f9fa;
  overflow-x: auto;
}

.wysiwyg pre {
  overflow: initial;
  padding: 0;
  background: inherit !important;
  margin-bottom: 0;
}

.wysiwyg pre code {
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
  padding: 0;
}

.wysiwyg a code {
  color: #303f9f;
}

.wysiwyg a:hover code {
  color: #7b1fa2;
}

/* wysiwyg */
.wysiwyg header {
  margin-bottom: 1.4rem;
}

.wysiwyg header h1 {
  margin-bottom: .25rem;
}

.wysiwyg .info {
  display: flex;
  flex-wrap: wrap;
}

.wysiwyg .info p {
  margin-bottom: 0;
}

.wysiwyg .info > span {
  margin: 0 .5rem;
}

.wysiwyg figure {
  margin-bottom: 1.4em;
}

.wysiwyg figure a:hover {
  border-bottom: none;
}

.wysiwyg figcaption {
  color: #555;
  font-size: .85em;
  margin-top: .5em;
}

.list-taxonomy {
  display: flex;
  flex-wrap: wrap;
}

.list-taxonomy li {
  margin-right: 2rem;
  width: 180px;
}

/* embed */
.embed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.4em;
  overflow: hidden;
}

.embed::before {
  display: block;
  content: '';
}

.embed embed,
.embed iframe,
.embed object,
.embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-21by9::before {
  padding-top: 42.86%;
}

.embed-16by9::before {
  padding-top: 56.25%;
}

.embed-4by3::before{
  padding-top: 75%;
}

.embed-1by1::before{
  padding-top: 100%;
}
