{{ define "main" }}
  <article class="wysiwyg">
    <header>
      <h1>{{ .Title }}</h1>
      <div class="info">
        <p>
          <span role="img" aria-label="calendar">📅</span>
          <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
            {{ .Date.Format "02 Jan 2006" }}
          </time>
        </p>
        {{- with .Params.categories -}}
          <span>&middot;</span>
          <p>
            <span role="img" aria-label="closed file folder">📁</span>
            {{- range $idx, $category := . }}
              {{- if $idx }}, {{- end }}
              <a href="/categories/{{ $category }}/">
                {{- $category | humanize -}}
              </a>
            {{- end }}
          </p>
        {{- end -}}
        {{- with .Params.tags -}}
          <span>&middot;</span>
          <p>
            <span role="img" aria-label="label tag">🏷</span>
            {{- range $idx, $tag := . }}
              {{- if $idx }}, {{- end }}
              <a href="/tags/{{ $tag }}/">
                {{- $tag | humanize -}}
              </a>
            {{- end }}
          </p>
        {{- end -}}
      </div>
    </header>
    {{ .Content }}
  </article>
  {{ partial "disqus.html" . }}
{{ end }}
